*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
.container{
    background-color: rgba(0,0, 0, 1);
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;

}
.container .navegation .prev{
    position: absolute;
    font-size: 55px;
    top: 50%;
     left:100px;
    z-index: 10;
    color: #fff;
}
.container .navegation .next{
    position: absolute;
    font-size: 55px;
    top: 50%;
    right:100px;
    z-index: 10;
    color: #fff;
}
.container .navegation  .nav-btn {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.container .corsel {
    margin: 20px;
    transition: all 0,3s ease;
    width: 500px;
    position: relative;
}
.container .corsel .caption {
    display: block;
    position: absolute;
    bottom: 5px;
    font-weight: 100;
    font-size: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(0,0, 0, 0.3) ;
}
.corsel img{
    width: 100%;
}
.container .corsel .item {
    display: none;
}
.container .corsel .main {
    display: block;
}
