@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 1rem;
}
a {
    text-decoration: none;
}
img{
    width: 100%;
    height: auto;

}


 #header_1 {
    font-size: 4.5rem;
    display: flex;
    border-bottom: solid 1px #e4e4e4;
    justify-content: space-between;
    align-items: center;
}
#header_1 .ul_items{
    display: block;
    font-size:20px;
}
.navegacao_header{
    display: flex;
    align-items:center;
    position: fixed;
    width:100%;
    left: 0;
    top: 0;
    padding-bottom: 10px;
    background-color: #f8edeb;

}
.navegacao_header .logo{
    color: black;
    font-size: min(30px, 10vw);
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
    margin-left: 30px;
}
.navegacao_header .logo span {
    color: gold;
}
/* parte do  navegacao do menu header */
.navegacao_header .ul_items {
    background-color: #f8edeb;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    text-align: center;
    display: block;
}
.navegacao_header .ul_items li {
    padding: 40px 0px;
  
}
.navegacao_header .ul_items li a {
    font-family: 'Poppins', sans-serif;
    color: #6c757d;
}
.navegacao_header .ul_items li a::after{
    content: '';
    width: 0%;
    height: 2px ;
    display: block;
    background-color: #6c757d;
    transition: width  .1s ease-in;
    position: absolute ;
    margin: 0  auto ;
    right: 0;
    left: 0 ;
}
.navegacao_header .ul_items li a:hover::after{
    color: black;
    width: 20%;
    margin-top: 20px;
    
}


 #iconOpenMenuheader {
     position: absolute;
     font-size:25px;
     right: 15px;
 }
 
#iconCloseMenuHeader{
    position: absolute;
    right: 15px;
    z-index: 2;
    font-size:25px;
    display: block;
    cursor: pointer;
}

.texto_0 {
    font-size: 2rem;
    color: #6c757d;
    font-family: 'Poppins', sans-serif;
}

/* aqui e para modificar depois  NAVEGATION */
.navegacao_header p  {
    font-size: 1.55rem;
    font-family: 'Poppins', sans-serif;
}

#home .texto_1 {
    text-align: center;
}
#home .texto_1 h1 {
    font-size: min(100px, 10vw);
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
}
#home .texto_1 p {
    font-size: min(25px, 5vw);
    padding-left: 5px;
    padding-right:5px ;
    font-family: 'Poppins', sans-serif;
    color: rgba(0,0,0,.4);
    top: 2rem;
}
#home .texto_1  p a {
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-bottom: 100px;
    color: #fcbf49;
    font-size: 1rem;
}



/* section sobre -------*/

#sobre {
    padding: 40px 0px ; 
}
#sobre .texto-sobre {
    text-align: start;
    font-family: 'Poppins', sans-serif;
    border-bottom:  1px solid rgba(0,0,0,.4);
}
#sobre .texto-sobre h2 {
    padding: 10px 0px;
    font-size: min(80px, 10vw);
    font-family: 'Poppins', sans-serif;
}
#sobre .texto-sobre p {
    font-size: min(25px, 5vw);
     margin-bottom: 40px;
     font-family: 'Poppins', sans-serif;
}

/* --------------sessao  servicos ---------*/
#servico .texto_servico h2{
    padding: 10px 0px;
    font-size: min(80px, 10vw);
    font-family: 'Poppins', sans-serif;
}

#servico .container-servicos {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
#servico .container-servicos .img-servicos {
    border-bottom:  1px solid rgba(0,0,0,.4);
  
}
#servico .container-servicos .img-servicos h3  {
    padding: 10px 0px;
    font-size: min(40px, 10vw);
    font-family: 'Poppins', sans-serif;
}
#servico .container-servicos .img-servicos p {
    font-size: min(25px, 5vw);
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
}
#servico .container-servicos .img-servicos a {
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-bottom: 100px;
    color: #fcbf49;
    font-size: 1rem;
}
#servico .container-servicos .img-servicos img{
    width: 100%;
}


/*------------ section sugestao --------------*/

#sugestao{
    padding: 40px 0px ; 
    border-bottom:  1px solid rgba(0,0,0,.4);
}
#sugestao h2 {
    padding: 10px 0px;
    font-size: min(40px, 10vw);
    font-family: 'Poppins', sans-serif;
}

#sugestao .container-sugestao {
    display: flex;
    flex-wrap: wrap;
}
#sugestao .container-sugestao .texto-sugestao {
    padding: 10px 0px;
    font-size: min(20px, 5vw);
    font-family: 'Poppins', sans-serif;
    width:400px;
}
#sugestao .container-sugestao .formulario{
    width: 400px;
}
#btn-form{
    width: 100% ;
    padding: 5px;
    background: transparent;
    font-size: 13px;
}
#sugestao .container-sugestao .formulario form {    
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top:20px ;
    
}
#sugestao .container-sugestao .formulario .nomeSobrenome{
    display: flex;
    gap: 10px;
}
#sugestao .container-sugestao .formulario form , input {
    padding: 5px 0;
}
#sugestao .container-sugestao .formulario form ,
 textarea {
    resize: none;
}
#nome {
    width: 50%;
}
#email {
    width: 50%;
}
::placeholder {
    padding: 5px 0px;
    font-size: min(15px, 8vw);
}

#localizacao h3 {
    padding: 10px 0px;
    font-size: min(40px, 10vw);
    font-family: 'Poppins', sans-serif;
}
#mapa{
    width: 100%;
}


/* ------footer ----------*/


#contato{
    padding: 20px 0px;
}
#contato h2 {
    padding-bottom: 10px;
    padding: 10px 0px;
    font-size: min(40px, 10vw);
    font-family: 'Poppins', sans-serif;
}
#contato .container-footer{
    background-color: #f8edeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}
#contato .container-footer .redes-sociais {
    text-align: center;
    padding: 20px 0;
    font-size: min(14px, 10vw);
    font-family: 'Poppins', sans-serif;
}
#contato.container-footer .redes-sociais .fa-brands {
    font-size: 20px;
    padding: 10px;

}
#contato .container-footer .redes-sociais .fa-brands:hover {
    color: gold
}
#contato .container-footer .horarios {
    text-align: center;
    padding: 20px 0;
    font-size: min(14px, 10vw);
    font-family: 'Poppins', sans-serif;
}
#contato .container-footer .contatos {
    text-align: center;
    padding: 20px 0;
    font-size: min(14px, 10vw);
    font-family: 'Poppins', sans-serif;
}
#contato .container-footer .contatos .all-icon {
    display: flex;
    padding: 10px;
}
#contato .container-footer .contatos .all-icon .icon-texto1  {
    margin-right: 20px;
}